<footer class="page-footer font-small unique-color-dark">

  <div style="background-color: #6351ce;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">
            ¡Conéctate con nosotros en las redes sociales!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a [href]="information.info.facebook" target="_blank" class="fb-ic">
            <mdb-icon icon="facebook" class="white-text mr-4"></mdb-icon>
          </a>
          <!-- Twitter -->
          <a [href]="information.info.twitter" target="_blank" class="tw-ic">
            <mdb-icon icon="twitter" class="white-text mr-4"></mdb-icon>
          </a>
          <!-- Google +-->
          <a [href]="information.info.google" target="_blank" class="gplus-ic">
            <mdb-icon icon="google-plus" class="white-text mr-4"></mdb-icon>
          </a>
          <!--Linkedin -->
          <a [href]="information.info.linkedin" target="_blank" class="li-ic">
            <mdb-icon icon="linkedin" class="white-text mr-4"></mdb-icon>
          </a>
          <!--Instagram-->
          <a [href]="information.info.instagram" target="_blank" class="ins-ic">
            <mdb-icon icon="instagram" class="white-text mr-4"></mdb-icon>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">NEWPROCESS</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>NewProcess Consultores es una empresa formada en el año 2006 e integrada por un grupo de profesionales
          con las habilidades para hacer de las comunicaciones y la entrega de información oportuna y veraz
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">AREAS DE TRABAJOS</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Periodismo</a>
        </p>
        <p>
          <a href="#!">Diseño Gráficos</a>
        </p>
        <p>
          <a href="#!">Informática</a>
        </p>
        <p>
          <a href="#!">Traducción</a>
        </p>
        <p>
          <a href="#!">Fotografía</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">ENLACES ÚTILES</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="http://www.newprocess.cl/ewprocess.cl">Consultores</a>
        </p>
        <p>
          <a href="#!">Become an Affiliate</a>
        </p>
        <p>
          <a href="#!">Shipping Rates</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">CONTACTO</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <mdb-icon icon="home" class="mr-3"></mdb-icon>{{information.info.direccion}}
        </p>
        <p>
          <mdb-icon icon="envelope" class="mr-3"></mdb-icon>{{information.info.email}}
        </p>
        <p>
          <mdb-icon icon="phone" class="mr-3"></mdb-icon> {{information.info.telefono}}
        </p>
        <p>
          <mdb-icon icon="print" class="mr-3"></mdb-icon> {{information.info.fax}}
        </p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/bootstrap-tutorial/"> {{information.info.copyright}}</a>
  </div>
  <!-- Copyright -->

</footer>
