
<div class="FormContacto">
  <div class="contacto">
    <mdb-card>

      <mdb-card-header class="info-color white-text text-center py-4">
        <h5>
          <strong>CONTACTO</strong>
        </h5>
      </mdb-card-header>

      <mdb-card-body class="px-lg-5 pt-0">

        <form class="text-center" style="color: #757575;" >

          <div class="md-form mt-3">
            <input type="text" formControlName="contactFormName" id="materialContactFormName" class="form-control"
                   mdbInputDirective>
            <label for="materialContactFormName">Nombre</label>
          </div>

          <div class="md-form">
            <input type="email" formControlName="contactFormEmail" id="materialContactFormEmail" class="form-control"
                   mdbInputDirective>
            <label for="materialContactFormEmail">Correo Electronico</label>
          </div>

          <span>Tema</span>
          <div class="row">
            <div class="col-md-12 mx-auto">
              <mdb-select formControlName="contactFormSubjects"  placeholder="Choose your option"></mdb-select>
            </div>
          </div>

          <div class="md-form">
        <textarea type="text" formControlName="contactFormMessage" id="materialContactFormMessage" class="form-control md-textarea"
                  mdbInputDirective></textarea>
            <label for="materialContactFormMessage">Message</label>
          </div>

          <div class="row">
            <div class="col-md-6 mx-auto d-flex justify-content-center">
              <mdb-checkbox formControlName="contactFormCopy">Enviame una copia de este Mensaje</mdb-checkbox>
            </div>
          </div>

          <button mdbBtn color="info" outline="true" rounded="true" block="true" class="z-depth-0 my-4 waves-effect"
                  mdbWavesEffect type="button">Enviar</button>

        </form>

      </mdb-card-body>

    </mdb-card>
  </div>
</div>
