<br>
<div class="container">
  <div class="row">
    <div class="col-sm-9">

      <div class="blog-article">

        <div class="blog-article-thumbnail">

          <a href="#"><img src="assets/img/noticias/full/n-1.jpg" alt=""></a>

        </div><!-- blog-article-thumbnail -->

        <a class="date" href="#">22
          <small>Dec</small>
        </a>

        <!--<h6 class="blog-article-subtitle"><a href="#">Lifestyle &amp; Travel</a></h6>-->

        <h4 class="blog-article-title"><a href="">MOP opta por reparar puente Cau Cau y
          descarta desarme</a>
        </h4>

        <div class="blog-article-details">
          by <a class="author" href="#">Laura James</a>
          in <a class="category" href="#">Uncategorized</a>
        </div>

        <div class="blog-article-content">

          <p>Reemplazar el mecanismo de levante y mantener el resto de la construcción física del puente, descartando de
            plano un desarme completo de la estructura. Estas acciones son parte de la solución definitiva que el
            Ministerio de Obras Públicas (MOP) planteará hoy en Valdivia, para reparar el fallido puente Cau Cau, que
            cumple más de dos meses habilitado provisoriamente al paso vehicular.
          </p>

          <a href="">Leer Más</a>

        </div><!-- blog-article-content -->

      </div><!-- blog-article -->

      <div class="blog-article">



        <a class="date" href="#">20
          <small>Dec</small>
        </a>

        <h4 class="blog-article-title"><a href="#">Santiago estaría a un paso de convertirse
          en una macro región</a></h4>

        <div class="blog-article-details">
          by <a class="author" href="#">Laura James</a>
          in <a class="category" href="#">Uncategorized</a>
        </div>

        <div class="blog-article-content">

          <p>Valparaíso y San Antonio podrían convertirse en la costa de Santiago. Esa es la premisa que marca la tesis
            que apunta a que la capital del país se transformará en una macro región. Proyectos de conectividad que
            permitirían unir a la capital con Melipilla y Batuco, además de la posibilidad de establecer una nueva ruta
            ferroviaria hacia la Región de Valparaíso, y un puerto seco en la Metropolitana que sirva de corredor hacia
            el puerto de San Antonio, son las principales señales que sustentan esta teoría.</p>

          <a href="#">Leer Más</a>

        </div><!-- blog-article-content -->

      </div><!-- blog-article -->

      <div class="blog-article">

        <a class="date" href="#">17
          <small>Dec</small>
        </a>

        <h4 class="blog-article-title"><a href="#">Propuesta de laguna artificial en Parque
          Padre Hurtado abre controversia entre expertos</a></h4>

        <div class="blog-article-details">
          by <a class="author" href="#">Laura James</a>
          in <a class="category" href="#">Uncategorized</a>
        </div>

        <div class="blog-article-content">

          <p>Este domingo se realizará la consulta ciudadana por la remodelación del Parque Padre Hurtado. Podrán votar
            quienes tengan domicilio electoral en Las Condes, La Reina o Providencia, los tres municipios que
            administran el área verde.</p>

          <a href="">Leer Más</a>

        </div><!-- blog-article-content -->

      </div><!-- blog-article -->

      <div class="blog-article">

        <div class="blog-article-thumbnail">

          <a href="#"><img src="assets/img/noticias/full/n-2.jpg" alt=""></a>

        </div><!-- blog-article-thumbnail -->

        <a class="date" href="#">15
          <small>Dec</small>
        </a>

        <h4 class="blog-article-title"><a href="#">Megalínea eléctrica de US$1.300 millones
          reaparece en la hoja de ruta de la autoridad</a>
        </h4>

        <div class="blog-article-details">
          by <a class="author" href="#">Laura James</a>
          in <a class="category" href="#">Uncategorized</a>
        </div>

        <div class="blog-article-content">

          <p>Una megalínea eléctrica, que irá desde Antofagasta a Santiago y que tendrá un costo de US$1.305 millones,
            debiera estar pronto a iniciar su tramitación para licitarse en los próximos meses.
            Se trata de un proyecto que traerá energía solar de manera directa a la capital y que tiene una capacidad de
            transmisión de 3.000 MW. Sería la más grande del país, y estaría lista en 2027.</p>

          <a href="#">Leer Más</a>

        </div><!-- blog-article-content -->

      </div><!-- blog-article -->

    </div><!-- col -->
    <div class="col-sm-3">

      <div class="widget widget-search">

        <form class="form-inline md-form mr-auto mb-4">
          <input class="form-control mr-sm-2" type="text" placeholder="Buscar Noticias" aria-label="Search">
          <button mdbBtn size="sm" gradient="aqua" rounded="true" class="my-0 waves-light" mdbWavesEffect type="submit">Buscar</button>
        </form>

      </div><!-- widget-search -->

      <div class="widget widget-archives">

        <h6 class="widget-title">Archivadas</h6>

        <ul>
          <li><a href="#">October 2016</a></li>
          <li><a href="#">November 2016</a></li>
          <li><a href="#">December 2016</a></li>
        </ul>

      </div><!-- widget-archives -->

      <div class="widget widget-categories">

        <h6 class="widget-title">Categorías</h6>

        <ul>
          <li><a href="#">Negocios</a></li>
          <li><a href="#">Salud &amp; AFP</a></li>
          <li><a href="#">Tecnología</a></li>
          <li><a href="#">Industria</a></li>
          <li><a href="#">Energía &amp; Combustible</a></li>
          <li><a href="#">Uncategorized</a></li>
        </ul>

      </div><!-- widget-categories -->

      <div class="widget widget-recent-posts">

        <h6 class="widget-title">Noticias Recientes</h6>

        <ul>
          <li>
            <img src="assets/img/noticias/noticia-1.jpg" alt="">
            <a class="post-title" href="#">MOP opta por reparar...</a>
            <div class="post-details">
              by <a class="post-author" href="#">Óscar Riquelme B</a>
              <a class="post-date" href="#">22 Dec</a>
            </div><!-- post-details -->
          </li>
          <li>
            <img src="assets/img/noticias/noticia-2.jpg" alt="">
            <a class="post-title" href="#">Santiago estaría a un...</a>
            <div class="post-details">
              by <a class="post-author" href="#">Jane Smith</a>
              <a class="post-date" href="#">20 Dec</a>
            </div><!-- post-details -->
          </li>
          <li>
            <img src="assets/img/noticias/noticia-3.jpg" alt="">
            <a class="post-title" href="#">Banco Central sube tasa...</a>
            <div class="post-details">
              by <a class="post-author" href="#">Jane Smith</a>
              <a class="post-date" href="#">18 Dec</a>
            </div><!-- post-details -->
          </li>
          <li>
            <img src="assets/img/noticias/noticia-3.jpg" alt="">
            <a class="post-title" href="#">Banco Central sube tasa...</a>
            <div class="post-details">
              by <a class="post-author" href="#">Jane Smith</a>
              <a class="post-date" href="#">18 Dec</a>
            </div><!-- post-details -->
          </li>
        </ul>

      </div><!-- widget-recent-posts -->

    </div><!-- col -->
  </div><!-- row -->
</div><!-- container -->

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <ul class="pagination">
        <li class="active"><a href="#">1.</a></li>
        <li><a href="#">2.</a></li>
        <li><a href="#">3.</a></li>
      </ul>

    </div><!-- col -->
  </div><!-- row -->
</div><!-- container -->
